@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #F1D8C9, #F2C3A7);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #9276657c;
    width: 600px;
    padding: 10px;
    margin: auto;

}

h1{
    text-align: center;
   color: #F39209;
   box-shadow: 1px 1px 2px #6e4205c5;
}

h2{
   color: #125189;
}

p {
    text-align: justify;
}